.modal-wrapper {
    background: white;
    border: 0.1rem solid #d0cccc;
    box-shadow: 0 0.5rem 0.8rem 0 rgba(0,0,0,0.2), 0 0.7rem 2rem 0 rgba(0,0,0,0.17);
    margin: 2rem auto 0;
    transition: all .5s;
    transform: translateY(-3rem);
    animation: down 250ms linear forwards;
    width: 35rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.grid-container {
    display: grid;
}

.modal-header {
    background: #5295BF;
    line-height: 4rem;
    padding: 0.25rem;
}

.signup-title {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.modal-body {
    position: relative;
    padding: 0.25rem 1rem;
    transform: translateY(6rem);
    animation: up 250ms linear forwards;
    z-index: 1;
}

.modal-footer {
    background: #5295BF;
    height: 3.5rem;
    padding: 1rem;
}

.btn-cancel span, .btn-continue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn-cancel span::after, .btn-continue span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn-cancel:hover span, .btn-continue:hover span {
    padding-right: 25px;
}
  
.btn-cancel:hover span::after, .btn-continue:hover span::after {
    opacity: 1;
    right: 0;
}

.btn-cancel, .btn-continue {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 1rem;
    transition: all 0.5s;
}

.btn-cancel {
    background-color: #265573;
    float: left;
}

.btn-continue {
    background-color: #265573;
    float: right;
}

.signup-form label {
    text-align: initial;
    margin-bottom: 0.5rem;
}

.signup-form input {
    display: inline-block;
    width: auto;
    margin-bottom: 0.75rem;
}

.login-accnt {
    text-align: center;
}

.back-drop {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1.3s;
}

.open-modal-btn {
    margin: 1.5rem;
    padding: 1rem;
    font-weight: bold;
}

@keyframes up {
	100% {
		transform: translateY(0);
	}
}

@keyframes down {
	0% {
		transform: translateY(-3);
    }
    
    0% {
		transform: translateY(0);
	}
}

@media only screen and (min-width: 600px) {

} 